@import "tailwindcss";

@theme {
  --color-void: #0c0a15;
  --color-base: #100e1a;
  --color-card: #1a1729;
  --color-line: #221f33;

  --color-text-1: #f0eefa;
  --color-text-2: #c3bfe0;
  --color-text-3: #8a84ad;
  --color-text-4: #6b6489;
  --color-text-5: #524c73;

  --color-accent-light: #a99bf0;
  --color-accent: #8a7bd6;
  --color-accent-dark: #6f63b3;

  --color-highlight-light: #a8f5e3;
  --color-highlight: #63ebcb;
  --color-highlight-dark: #2aa88d;

  --color-shipped: #5dcaa5;
  --color-shipped-dark: #04342c;

  --color-wip: #e0a83e;
  --color-wip-dark: #412402;
}

body {
  font-family: 'Courier Prime', monospace;
}